@model UrlShortener.Web.Models.Url
@{
    ViewBag.Title = "Url Shortener";
}
<div class="jumbotron text-center">
        <h1>@Html.ActionLink("Shorten Me", "Index", "Url")</h1>
        <p class="">A top-notch service to shorten your links and track your customers clicks</p>

    <div class="validation-list">
        @Html.ValidationSummary()
    </div>

        @using (Html.BeginForm()) {
        <div class="form-inline">
            @Html.TextBoxFor(model => model.LongUrl, new { placeholder = "URL to shorten", @class = "form-control" })
            <input type="submit" class="btn btn-danger" value="Shorten" />
        </div>
        if (!string.IsNullOrEmpty(Model.ShortUrl)) {
            <div>
                <h3><a href="@Model.ShortUrl" target="_blank">@Model.ShortUrl</a></h3>
            </div>
            } 
    }
</div>
