@model UrlShortener.Web.Models.Url
@{
    ViewBag.Title = "Url Shortener";
}

<h2>Shorten URL</h2>

@Html.ActionLink("Shortened URLs List", "List", "Url")
@Html.ValidationSummary()

@using (Html.BeginForm()) {
    <div class="form-group">
        @Html.TextBoxFor(model => model.LongUrl, new {placeholder = "URL you would like to have shortened", @class = "form-control"})
    </div>
    if (!string.IsNullOrEmpty(Model.ShortUrl)) {
        <div>
            <a href="@Model.ShortUrl" target="_blank">@Model.ShortUrl</a>
        </div>
    }

    <input type="submit" class="btn btn-primary" value="Shorten" />
}
