@model IEnumerable<UrlShortener.Web.Models.Url>
@{
    ViewBag.Title = "URL List";
}
<div class="jumbotron text-center">
    <h2>Shortened URL List</h2>

    @if (!@Model.Any())
    {
        <label>No URLs shortened</label>
    }
    else
    {
        <div class="table-responsive">
            <table class=" table table-condensed table-bordered table-hover">
                <tr>
                    <th class="th">
                        @Html.DisplayNameFor(model => model.LongUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShortUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedIp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumOfClicks)
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LongUrl)
                        </td>
                        <td>
                            <a href="@item.ShortUrl" target="_blank">@item.ShortUrl</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedIp)
                        </td>
                        <td class="num">
                            @Html.DisplayFor(modelItem => item.NumOfClicks)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    </div>
