@model IEnumerable<UrlShortener.Web.Models.Url>
@{
    ViewBag.Title = "Shortened URLs List";
}

<h2>List of Shortened URLs</h2>

    <table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShortUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedIp)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedIp)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ShortUrl })
            </td>
        </tr>
    }
    </table>
